# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
tf2/bin/activate
tf2/bin/activate.csh
tf2/bin/activate.fish
tf2/bin/Activate.ps1
tf2/bin/chardetect
tf2/bin/easy_install
tf2/bin/easy_install-3.8
tf2/bin/estimator_ckpt_converter
tf2/bin/f2py
tf2/bin/f2py3
tf2/bin/f2py3.8
tf2/bin/google-oauthlib-tool
tf2/bin/markdown_py
tf2/bin/pip
tf2/bin/pip3
tf2/bin/pip3.8
tf2/bin/pyrsa-decrypt
tf2/bin/pyrsa-encrypt
tf2/bin/pyrsa-keygen
tf2/bin/pyrsa-priv2pub
tf2/bin/pyrsa-sign
tf2/bin/pyrsa-verify
tf2/bin/python
tf2/bin/python3
tf2/bin/saved_model_cli
tf2/bin/tensorboard
tf2/bin/tf_upgrade_v2
tf2/bin/tflite_convert
tf2/bin/toco
tf2/bin/toco_from_protos
tf2/bin/wheel
tf2/pyvenv.cfg
.vscode/settings.json
